@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .print\:w-\[794px\] {
    @media print {
      width: 794px;
    }
  }
  
  .print\:p-8 {
    @media print {
      padding: 2rem;
    }
  }
}

/* Print styles */
@media print {
  body * {
    visibility: hidden;
  }
  
  .print\:p-8,
  .print\:p-8 * {
    visibility: visible;
  }
  
  .print\:p-8 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 794px;
  }
  
  button,
  .no-print {
    display: none !important;
  }
}


.no-break {
  page-break-inside: avoid;
  break-inside: avoid;
}


.footer-safe {
  page-break-before: auto;
  break-before: auto;
}